.header {
  background-color: #BFBEBE;
}

.info {
  border-left: 1px solid #BFBEBE;
  border-right: 1px solid #BFBEBE;
  border-bottom: 1px solid #BFBEBE;
}

.divborder {
  border: solid 1px #BFBEBE;
  height: 180px;
}

.divborder2 {
  border: solid 1px #BFBEBE;
  height: 20px;
}


.square {
  border: 1px solid #BFBEBE;
  width: 20px;
}

.divborderRepair{
  height: 50px;
  border: 1px solid #BFBEBE;
}