<h2 mat-dialog-title>Nuevo Proyecto</h2>
<mat-dialog-content fxLayout="column">
  <form [formGroup]="projectForm" fxLayout="column" fxLayoutGap="15px">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" type="color"/>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-button
    mat-dialog-close
    color="accent"
    [disabled]="projectForm.invalid"
    (click)="newProject()"
  >
    Agregar
  </button>
</mat-dialog-actions>
