.container {
  img {
    width: 200px;
    height: 71px;
  }
  .mat-nav-list {
    .mat-list-item {
      color: gray;
    }
    .mat-list-item:hover {
        .mat-icon {
            color: #13a2cd;
        } 
    }
  }
}
